/01 - Variáveis e Operadores
/02 - Condicionais
/03 - Praticando Variaveis, operadores e Estruturas Concicionais
/04 - Funções
/05 - Objetos
/06 - Listas(arrays)
/07 - Importação e Exportação
/08 - Avaliação
/09 - Mentoria - Calculadora